svg.effect {
    position: absolute;
    pointer-events: none;
}
body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    background: #F1F3F6;
    padding-top: 50px;
}
* {
    list-style: none;
    outline: none;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.con-effect {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    filter: url('#effect2');
    background: #fff;
    border-radius: 18px;
}
.dropdown {
    cursor: pointer;
    position: relative;
    display: block;
    width: 250px;
}
.dropdown.open .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translate(0, calc(100% + 30px));
    padding-bottom: 10px;
    padding-top: 10px;
    pointer-events: auto;
}
.dropdown.open .dropdown-menu:after {
    top: -40px;
    opacity: 1;
}
.dropdown.open .dropdown-menu button {
    margin-top: 0px;
    opacity: 1;
}
.dropdown.open .con-dropdown i {
    transform: rotate(180deg);
}
.con-dropdown {
    padding: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 18px;
    z-index: 20;
    position: relative;
    font-weight: bold;
    font-size: .9rem;
    min-height: 55px;
}

.con-dropdown:hover .text span{
    padding-left: 5px;
}
.con-dropdown:hover .text svg{
    transform: scale(1.25);
}

.con-dropdown .text {
    flex: 1;
    transition: all .25s ease;
}

.con-dropdown span {
    margin-left: 20px;
    font-weight: bold;
    font-size: .9rem;
    opacity: 1;
    transition: all .25s ease;
    pointer-events: none;
}

.con-dropdown .text button {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: all .25s ease, padding .25s ease 0s;
    width: calc(100% - 20px);
    box-sizing: border-box;
    margin-left: 10px;
    border-radius: 18px;
    border: 0px;
    cursor: pointer;
    background: transparent;
}
.con-dropdown button svg {
    pointer-events: none;
    height: 35px;
    max-width: 35px;
    transition: all .25s ease;
}
.con-dropdown i {
    font-size: 1.2rem;
    transition: all .25s ease;
    margin-right: 14px;
}
.dropdown-menu {
    z-index: 10;
    position: absolute;
    background: rgb(255, 255, 255);
    border-radius: 18px;
    padding-left: 0px;
    bottom: 0px;
    width: 100%;
    opacity: 1;
    visibility: hidden;
    transition: all .3s ease;
    transform: translate(0, 100%);
    pointer-events: none;
}
.dropdown-menu:after {
    content: '';
    background: #fff;
    top: 0px;
    width: 25px;
    height: 40px;
    left: 20px;
    position: absolute;
    transition: all .1s ease;
    opacity: 0;
}
.dropdown-menu button {
    padding: 8px 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: -50px;
    transition: all .25s ease, padding .25s ease 0s;
    opacity: 0;
    width: calc(100% - 20px);
    box-sizing: border-box;
    margin-left: 10px;
    border-radius: 18px;
    border: 0px;
    cursor: pointer;
    background: transparent;
}
.dropdown-menu button:nth-child(2) {
    transition: all .25s ease .02s, padding .25s ease, opacity .25s ease .01s, background .25s ease;
}
.dropdown-menu button:nth-child(3) {
    transition: all .25s ease .04s, padding .25s ease, opacity .25s ease .02s, background .25s ease;
}
.dropdown-menu button:nth-child(4) {
    transition: all .25s ease .06s, padding .25s ease, opacity .25s ease .03s, background .25s ease;
}
.dropdown-menu button:nth-child(5) {
    transition: all .25s ease .08s, padding .25s ease, opacity .25s ease .04s, background .25s ease;
}
.dropdown-menu button:nth-child(6) {
    transition: all .25s ease .1s, padding .25s ease, opacity .25s ease .05s, background .25s ease;
}
.dropdown-menu button:nth-child(7) {
    transition: all .25s ease .12s, padding .25s ease, opacity .25s ease .06s, background .25s ease;
}
.dropdown-menu button:nth-child(8) {
    transition: all .25s ease .14s, padding .25s ease, opacity .25s ease .07s, background .25s ease;
}
.dropdown-menu button:nth-child(9) {
    transition: all .25s ease .16s, padding .25s ease, opacity .25s ease .08s, background .25s ease;
}
.dropdown-menu button:hover {
    background: #F1F3F6;
}
.dropdown-menu button:hover svg, .dropdown-menu button.selected svg {
    transform: scale(1.3);
    filter: saturate(100%);
    opacity: 1;
}
.dropdown-menu button:hover span, .dropdown-menu button.selected span {
    opacity: 1;
}
.dropdown-menu button:active {
    transform: scale(.95);
}
.dropdown-menu button:active svg {
    transform: scale(1.1);
}
.dropdown-menu button:active span {
    opacity: .5;
}
.dropdown-menu button span {
    margin-left: 20px;
    font-weight: bold;
    font-size: .9rem;
    opacity: .6;
    transition: all .25s ease;
    pointer-events: none;
}
.dropdown-menu button svg {
    pointer-events: none;
    height: 30px;
    max-width: 30px;
    transition: all .25s ease;
    filter: saturate(0%);
    opacity: .6;
}