@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
#menu-overlay
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f00;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  transform: scale(0);
  transition: 0.5s ease-in-out;
}
#menu-overlay.active
{
  transform: scale(1);
}
#menu-overlay ul
{
  position: relative;
  min-width: 400px;
}
#menu-overlay li
{
  list-style: none;
  position: relative;
  text-align: center;
  display: block;
}
#menu-overlay li a
{
  position: relative;
  text-decoration: none;
  font-size: 3.5em;
  padding: 0 10px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
}
#menu-overlay li a:before
{
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) scaleX(0);
  transition: transform 0.5s;
  transform-origin: right;
  width: 100%;
  height: 8px;
  background: #ff0;
}
#menu-overlay li a:hover:before
{

  transform: translateY(-50%) scaleX(1);
  transition: transform 0.5s;
  transform-origin: left;
}
#toggleIcon
{
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: #ff0 url(open.png);
  z-index: 1;
  cursor: pointer;
}
#toggleIcon.active
{
  background: #ff0 url(close.png);
}